@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

:root {
  --whitecolor: #ffffff;
  --yellowcolor: #f8a22f;
}
/* Header */
.logo {
  width: 90px;
}
.taste,
.f,
.pizza {
    font-size: 43px;
    font-family:  'Road Rage', cursive;
    color: var(--whitecolor);
}
.f {
    margin-right: 20px;
}
.pizza {
    color: #7E0516;
}
.rightdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1920px;
  width: 100%;
}
.ul-li {
  display: flex;
}
.lists {
  margin-right: 190px;
}
.listing {
  color: var(--whitecolor);
  opacity: 80%;
  font-size: 24px;
  font-family: 'Road Rage', cursive;
}
li:nth-child(4) {
  margin-right: 0;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: var(--whitecolor);
  padding-left: 5px;
  padding-right: 5px;
  border-color: whitesmoke;
}
.background-image {
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-color: var(--yellowcolor);
}
/* section1 */
.section-div {
  display: flex;
  justify-content: space-between;
}
.left-div {
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 78px;
}
.left-title {
    font-size: 71px;
    font-family: 'Baloo 2', cursive;
}
.food {
    color: #F8A22F;
}
.left-text {
  font-size: 26px;
  color: #242424;
  opacity: 50%;
}
.order {
  color: var(--whitecolor);
  font-size: 22px;
}
.click-div {
  background-color: var(--yellowcolor);
  width: 232px;
  height: 64px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-div {
  max-width: 582px;
  width: 100%;
}
.pizza-one {
  width: 100%;
}
.three-icons {
  max-width: 197px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
}
.twitter,
.internet,
.instagram {
  width: 70%;
}
/* ourfood section */
.ourfood-section {
 display: flex;
 justify-content: space-between; 
}
.leftdiv {
  max-width: 650px;
  width: 100%;
  margin-top: 35px;
}
.ourfood-pic {
  width: 100%;
}
.rght-div {
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 35px;
  margin: auto 0;
}
.first-title {
  font-size: 40px;
}
.orange-div {
  width: 252px;
  height: 5px;
  background-color: #F8A22F;
  border-radius: 100px;
  margin-top: 10px;
}
.small-div-one {
  max-width: 218px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.small-div-two {
  max-width: 230px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.small-div-three {
  max-width: 257px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.text-one {
  font-size: 20px;
}
.click {
  width: 30px;
  height: 30px;
}
.description-one {
  font-size: 15px;
  opacity: 50%;
  margin-left: 85px;
  margin-top: 5px;
}
.click-div-second {
  background-color: var(--yellowcolor);
  width: 200px;
  height: 40px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
